@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.container{
    display: grid;
    grid-template-areas: 
    "header header navigation"
    "menu content content"
    "footer footer footer";
}

.container header.header{
    grid-area: header;
}

.container .navigation{
    grid-area: navigation;
}

.container section.menu{
    grid-area: menu;
}

.container section.content {
    width: 100%;
    max-width: 1200px;
    grid-area: content;
}

.container footer.footer{
    grid-area: footer;
}

li{
    display: inline-block;
}

h1{
      font-family: "Playfair Display", serif;
      font-size: 5rem;
}

p{
    font-family: "Inter", sans-serif;
}