@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    background-color: #F9F6F0;
}
.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container header.header{
    grid-area: header;
    height: 200px;
    width: 100%;
    background-image: url("../img/congerdesign-kitchen-4785218.jpg");
    background-size:cover;
    background-position:center;
}


.midWrapp {
    display: grid;
    grid-template-areas: "menu content";
    grid-template-columns: 280px 1fr; 
    max-width: 1200px; 
    width: 90%;       
    margin: 40px auto; 
    flex: 1;           
    justify-content: center;
}

.middle-wrapper section.menu {
    grid-area: menu;
    border: 2px solid black;
}

.middle-wrapper section.content {
    grid-area: content;
}

.content{
    justify-content: center;
}

.content article{
    margin-left: 20px;
}

.menu{
    border: 2px solid #C87D55;
    margin: 5px;
}

.menu p{
    margin-left: 20px;
}

.menu h2{
    text-align: center;
}

.container footer.footer{
    grid-area: footer;
    height: 120px;
    background-color: #C87D55;
    width: 100%;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: #3F3F47;
    font-size: 1.2rem;
}

a:hover{
    color: #726056;
}


h1{
      font-family: "Playfair Display", serif;
      font-size: 5rem;
      margin-left: 50px;
      color: #6CC754;
}

p{
    font-family: "Inter", sans-serif;
    color: #3F3F47;
}

h2{
        color: #3F3F47;
}

h3{
        color: #3F3F47;
}

h4{
        color: #3F3F47;
}

strong{
    color: #3F3F47;
}

i{
    margin-right: 20px;
    margin-bottom: 15px;
}

form{
    width: 50px;
}

fieldset{
    border-color: #C87D55;
    width: 50px;
}